h1 {
    margin-bottom: 24px;
}

.navbar {
    margin-bottom: 24px;
}

.comic-page-container {
    background: #000;
    min-height: 100vh;
    position: relative;
}
.comic-page {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.comic-page--100 {
    width: 100%;
}
.comic-page--90 {
    width: 90%;
}
.comic-page--80 {
    width: 80%;
}
.comic-page--70 {
    width: 70%;
}
.comic-page--60 {
    width: 60%;
}

.page-navigation {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 20%;
}
.page-navigation--previous {
    left: 0;
}
.page-navigation--next {
    right: 0;
}

.exit-reader {
    line-height: 0;
}
