body.reader-mode {
    background: #000;
}

#reader {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

h1 {
    margin-bottom: 24px;
}

.navbar {
    margin-bottom: 24px;
}

/* Reader component */
.reader--standard-view {
    /*margin: 0 auto;*/
    max-width: 1200px;
}
.reader--fit-width {
    width: 100%;
}
.reader--fit-width .comic-page {
    width: 100%;
}
.reader--fit-height .comic-page {
    height: 100vh;
    margin: 0 auto;
}
.reader--loading {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.reader--loading .spinner {
    display: block;
}
.reader--loading .comic-page,
.reader--loading .page-navigation {
    display: none;
}

/* Navigation component */
.comic-page {
    display: block;
    max-width: 100%;
}

/* ComicPage component */
.page-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.page-navigation-item {
    bottom: 0;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 140px;
}
.page-navigation__exit-reading {
    height: 80px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.page-navigation-item--previous {
    left: 0;
}
.page-navigation-item--next {
    right: 0;
}
.page-navigation-item--hidden {
    user-input: none;
    visibility: hidden;
}

/* Spinner component */
.spinner {
    display: none;
    -webkit-animation-name: rotate;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: rotate;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
}

.spinner img {
    height: 120px;
    width: 120px;
}

@-webkit-keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform:rotate(0deg);}
    to {  -moz-transform:rotate(360deg);}
}

/* ReadingControls component */
.reading-controls {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    color: #fff;
    display: flex;
    left: 0;
    justify-content: center;
    padding: 12px 0;
    position: fixed;
    right: 0;
}
.reading-controls--hidden {
    display: none;
}
