{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>{% block page_title %}Comic reader{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'lazylibs/bootstrap.min.css' %}?rev={{ SOURCE_REVISION }}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?rev={{ SOURCE_REVISION }}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}?rev={{ SOURCE_REVISION }}">
    <link rel="manifest" href="{% static 'manifest.json' %}?rev={{ SOURCE_REVISION }}">

    <link rel="icon" type="image/png" href="{% static 'img/favicon16.png' %}?rev={{ SOURCE_REVISION }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'img/favicon32.png' %}?rev={{ SOURCE_REVISION }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon96.png' %}?rev={{ SOURCE_REVISION }}" sizes="96x96">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon57.png' %}?rev={{ SOURCE_REVISION }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon114.png' %}?rev={{ SOURCE_REVISION }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon72.png' %}?rev={{ SOURCE_REVISION }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon144.png' %}?rev={{ SOURCE_REVISION }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon60.png' %}?rev={{ SOURCE_REVISION }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon120.png' %}?rev={{ SOURCE_REVISION }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon76.png' %}?rev={{ SOURCE_REVISION }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon152.png' %}?rev={{ SOURCE_REVISION }}">
</head>
<body>
    <header class="navbar navbar-dark bg-dark sticky-top navbar-expand-md">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Comic Reader</strong>
            </a>
            <form action="{% url "reader:directory" %}" class="form-inline my-2 my-lg-0" method="get">
                <input type="search" class="form-control mr-sm-2" name="q" placeholder="Search for a comic or a directory">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'lazylibs/jquery-3.5.1.slim.min.js' %}?rev={{ SOURCE_REVISION }}"></script>
    <script src="{% static 'lazylibs/popper.min.js' %}?rev={{ SOURCE_REVISION }}"></script>
    <script src="{% static 'lazylibs/bootstrap.min.js' %}?rev={{ SOURCE_REVISION }}"></script>
</body>
</html>
