{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block page_title %}Comic reader{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'lazylibs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}

    <script src="{% static 'lazylibs/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'lazylibs/popper.min.js' %}"></script>
    <script src="{% static 'lazylibs/bootstrap.min.js' %}"></script>
    <script src="{% static 'lazylibs/react.development.js' %}"></script>
    <script src="{% static 'lazylibs/react-dom.development.js' %}"></script>
    <script src="{% static 'dist/app.bundle.js' %}"></script>
</body>
</html>
