{% extends 'reader/base.html' %}
{% load static %}

{% block content %}
    {% if previous_page %}
        <a href="{% url 'reader:comic_detail' comic_path previous_page %}">Previous page</a>
    {% endif %}
    {% if next_page %}
        <a href="{% url 'reader:comic_detail' comic_path next_page %}">Next page</a>
    {% endif %}
    <div class="pages-list">
    {% for page in comic_pages %}
        <img src="{{ page }}" alt="">
    {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var reader = {};
        {% if previous_page %}
            reader.previousPageUrl = "{% url 'reader:comic_detail' comic_path previous_page %}";
        {% endif %}
        {% if next_page %}
            reader.nextPageUrl = "{% url 'reader:comic_detail' comic_path next_page %}";
        {% endif %}
    </script>
{% endblock %}
