{% extends 'reader/base.html' %}
{% load static %}

{% block page_title %}{{ comic_name }}{% endblock %}

{% block body_class %}reader-mode{% endblock %}

{% block content %}
    <div id="reader"
         data-comic-path="{{ comic_path }}"
         data-parent-path="{{ parent_path }}"
         data-comic-page="{{ page_number }}"
         data-num-pages="{{ num_pages }}"
    ></div>
{% endblock %}

{% block extra_js %}
    <script>
    // TODO: get this back working if it's possible to get https on a .local domain.
    /*
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            const swUrl = '{% static 'sw/sw.js' %}?comicPath={{ comic_path }}&numPages={{ num_pages }}';
            navigator.serviceWorker.register(swUrl).then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
    */
    </script>
{% endblock %}
