{% extends 'reader/base.html' %}
{% load static %}

{% block content %}
    <div class="reader">
        <nav class="page-navigation">
            {% if previous_page %}
                <a class="btn btn-light" href="{% url 'reader:comic_detail' comic_path previous_page %}">Previous page</a>
            {% endif %}
            {% if next_page %}
                <a class="btn btn-light" href="{% url 'reader:comic_detail' comic_path next_page %}">Next page</a>
            {% endif %}
        </nav>

        {% for page in comic_pages %}
        <img class="comic-page" src="{{ page }}" alt="">
        {% endfor %}

        <nav class="page-navigation">
            {% if previous_page %}
                <a class="btn btn-light" href="{% url 'reader:comic_detail' comic_path previous_page %}">Previous page</a>
            {% endif %}
            {% if next_page %}
                <a class="btn btn-light" href="{% url 'reader:comic_detail' comic_path next_page %}">Next page</a>
            {% endif %}
        </nav>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var reader = {};
        {% if previous_page %}
            reader.previousPageUrl = "{% url 'reader:comic_detail' comic_path previous_page %}";
        {% endif %}
        {% if next_page %}
            reader.nextPageUrl = "{% url 'reader:comic_detail' comic_path next_page %}";
        {% endif %}
    </script>
{% endblock %}
