{% extends 'reader/base.html' %}

{% block content %}

    <header class="navbar navbar-dark bg-dark sticky-top navbar-expand-md">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Comic Reader</strong>
            </a>

            {% if favorite_list %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% for favorite in favorite_list %}
                        <li class="nav-item {% if directory_path == favorite.directory_path %}active{% endif %}">
                            <a class="nav-link"
                               href="{% url 'reader:directory_detail' favorite.directory_path %}"
                            >
                                {{ favorite.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </header>

    <div class="container">
        {% if not is_root %}
            <h1>{{ path_contents.name }}</h1>
        {% endif %}

        {% if path_contents.back_link %}
            <div>
                <a href="{{ path_contents.back_link.link }}">{{ path_contents.back_link.name }}</a>
            </div>
        {% endif %}

        {% if path_contents.comics %}
            <h2>Comics</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Directory name</th>
                        <th scope="col">Bookmarks</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for comic in path_contents.comics %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ comic.name }}
                        </td>
                        <td>
                            {% if comic.bookmark %}
                                <a class="btn btn-primary btn-sm btn-block"
                                   href="{% url 'reader:comic_detail' comic.path comic.bookmark.page_num %}"
                                >
                                    Continue from bookmark
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm btn-block"
                               href="{% url 'reader:comic_detail' comic.path 0 %}"
                            >
                                Read
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if path_contents.children %}
            <h2>Directories</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Directory name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for directory in path_contents.children %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ directory.name }}
                        </td>
                        <td>
                            <a class="btn btn-secondary btn-sm btn-block"
                               href="{% url 'reader:directory_detail' directory.path %}"
                            >
                                Go
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}
