{% extends 'reader/base.html' %}

{% block content %}
    <h1>{{ path_contents.name }}</h1>

    {% if path_contents.back_link %}
        <div>
            <a href="{{ path_contents.back_link.link }}">{{ path_contents.back_link.name }}</a>
        </div>
    {% endif %}

    {% if path_contents.comics %}
        <h2>Comics</h2>
        <ul>
        {% for comic in path_contents.comics %}
            <li>
                <a target="_blank" href="{% url 'reader:comic_detail' comic.path %}">{{ comic.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if path_contents.children %}
        <h2>Directories</h2>
        <ul>
        {% for directory in path_contents.children %}
            <li>
                <a href="{% url 'reader:directory_detail' directory.path %}">{{ directory.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
